body{
    background-color: green
}


div{
    display: inline-block;
    height:100px;
    width:100px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom:20px
}
button{
    display: block
}